@model List<MiniMVC.Models.ViewModel.BookViewModel>

@{
    int userId = ViewBag.UserId != null ? (int)ViewBag.UserId : 0;
}

<a asp-action="Edit" asp-controller="User" asp-route-id="@userId" class="btn btn-warning position-absolute top-0 start-100 translate-middle">Kullanıcı güncelle</a>

<table class="table table-bordered table-light table-stripped mt-3">
    <thead>
        <tr>
            <th>Başlık</th>
            <th>Yıl</th>
            <th>Yazar</th>
            <th>Tür</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody class="align-middle">
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Year</td>
                <td>@book.AuthorName</td>
                <td>@book.GenreName</td>
                <td>
                    <form asp-action="Borrow" asp-controller="BorrowedBook" method="post">
                        <input type="hidden" name="bookId" value="@book.BookId" />
                        <input type="hidden" name="userId" value="@userId" />
                        <button type="submit" class="btn btn-primary">Ödünç Al</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="row">
    <div class="col-md-12">
        <a asp-action="MyBooks" asp-controller="BorrowedBook" asp-route-userId="@userId" class="btn btn-info">
            Kitaplarım
        </a>
    </div>
</div>
